/* modal */
.info {
    margin: 10px 0 0 57%;
    font-size: 14px;
    font-weight: 600;
}

.info .red {
    color: red;
}

.modal-body {
    padding-top: 0;
}

form div {
    padding: 5px 10px;
    font-weight: 600;
}

/* ck-editor 속성 설정 */
.ck-content {
    font-size: 14px;
    font-weight: 500;
}

.ck-editor__editable { 
    height: 350px; 
}

.ck-editor__main {
    padding: 0;
}

/* button */
#delete, #revise {
    padding: 0;
}
.heart, .comment_icon {
    display: inline-block;
    width: 8%;
    height: 6%;
    padding: 10px;
    margin-bottom: 2%;
    text-align: center;
}
.heart {
    border-radius: 15px;
    background-color: rgb(182, 182, 182);
}